<!DOCTYPE html>
<html>
    <head>
        <title>Strongpad || Uploads</title>
        <link href="/static/index.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <div id="content">
        <div id="toolbar">
            <input type="button" value="Index" onclick="window.location = '/index';" />
            <input type="button" value="Logout" onclick="window.location = '/logout';" />
        </div>
        <br />
% if not files:
        <p><i>No files yet!</i></p>
% else:
% for title in files:
        <p>
            <input type="button" value="Delete" onclick="window.location = '/uploads/{{title}}/delete';" />&nbsp;
            <a href="/uploads/{{title}}" class="filelist">{{title}}</a>
        </p>
% end
% end
    </div>
    </body>
</html>